.search-top {
	display: grid;
	grid-template-columns: auto 1fr;
	box-shadow: 0 0.5ex 0.5ex 0.1ex lightgrey;
}

.search-top-home {
	grid-row: 1/3;
}

.search-top-home-img {
	width: 12ex;
	height: 100%;
	margin-right: 2ex;
}

.search-top-searchbar {
	padding: 0 0.8ex;
}

.search-top-kind-buttonText {
	display: inline-block;
	margin-top: 0.9ex;
	padding: 0.2ex 1ex;
	font-size: x-large;
}

.search-top-kind-buttonText-img {
	margin-right: 1ex;
	width: 0.8em;
	height: 0.8em;
}

.search-results {
	list-style: '';
	padding: 2ex;
}

li.search-results-item {
	margin: 2ex 0;
	max-width: 60ex;
	color: black;
	padding: 0.5ex;
}

a.search-results-item {
	text-decoration: none;
	color: inherit;
}

.search-results-item:hover {
	background: #B7CDBE;
}

.search-results-item-title {
	font-weight: bold;
}

.search-results-item-info-url {
	color: #2A502E;
}

.search-results-item-desc {
	font-weight: lighter;
}